Repository debtcollective/disputes: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

v0.2.0
  CHANGELOG.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  lerna.json
Due: backend, frontend

chore(LICENSE): add LICENSE
  LICENSE
Due: none

chore(cypress): add initial configuration
  .vscode/settings.json
  apps/backend/package.json
  apps/frontend/.gitignore
  apps/frontend/.vscode/settings.json
  apps/frontend/cypress.json
  apps/frontend/cypress/fixtures/example.json
  apps/frontend/cypress/fixtures/profile.json
  apps/frontend/cypress/fixtures/users.json
  apps/frontend/cypress/support/commands.js
  apps/frontend/cypress/support/index.js
  apps/frontend/package.json
  now.json
  package.json
  yarn.lock
Due: backend, frontend

feat(cypress): add example test and eslint config
  apps/frontend/.eslintrc
  apps/frontend/cypress/integration/example.spec.js
  apps/frontend/jest.config.js
  apps/frontend/package.json
  yarn.lock
Due: frontend

ci(Travis): run cypress for integration testing
  .travis.yml
  package.json
Due: none

fix(now): reverting now.json
  apps/frontend/README.md
  now.json
Due: frontend

chore(cypress): remove example fixtures
  apps/frontend/cypress/fixtures/example.json
  apps/frontend/cypress/fixtures/profile.json
  apps/frontend/cypress/fixtures/users.json
Due: frontend

docs(LICENSE): remove license from frontend app
  apps/frontend/LICENSE
Due: frontend

fix: change process.CYPRESS_PORT to process.env.CYPRESS_PORT
  apps/frontend/cypress/integration/example.spec.js
Due: frontend

chore(deps): update dependency lint-staged to v8.1.7
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

chore(cypress): remove placholder files
  apps/frontend/cypress/support/commands.js
  apps/frontend/cypress/support/index.js
Due: frontend

v0.3.0
  CHANGELOG.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  lerna.json
Due: backend, frontend

Update dependency eslint-plugin-flowtype to v3.9.0
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

Update dependency express to v4.17.0
  apps/backend/package.json
Due: backend

Update dependency objection to v1.6.9
  apps/backend/package.json
Due: backend

build(yarn): update .lock file after pinned dependencies
  yarn.lock
Due: none

feat(pages): add new page for taxe type 'A' disputes
  apps/frontend/pages/disputes/tax/a.js
  apps/frontend/pages/index.js
Due: frontend

feat(disputes): add personal info lib file to be shared across form templates
  apps/frontend/lib/disputes/personal-info.js
Due: frontend

test: Move test to keep concerns closer to their logic
  apps/frontend/components/NumberField.js
  apps/frontend/components/___tests___/FieldTemplate.spec.js
  apps/frontend/components/___tests___/TextField.spec.js
Due: frontend

refactor(personal-info): update definition to explicit ask for a format
  apps/frontend/lib/disputes/personal-info.js
Due: frontend

test(snapshot): update after add new link from taxes disputes
  apps/frontend/__tests__/__snapshots__/index.test.js.snap
Due: frontend

chore(components): update TextField to pass custom props to NumberField
  apps/frontend/components/NumberField.js
  apps/frontend/components/TextField.js
Due: frontend

test(TextField): use testid to target number input and add new test case for telephone
  apps/frontend/components/___tests___/TextField.spec.js
Due: frontend

style(pages): format pages code
  apps/frontend/pages/disputes/general.js
  apps/frontend/pages/disputes/tax/a.js
Due: frontend

style(lib): format lib folder
  apps/frontend/lib/disputes/dispute-types.js
  apps/frontend/lib/disputes/personal-info.js
  apps/frontend/lib/disputes/usa-states.js
  apps/frontend/lib/init-apollo.js
  apps/frontend/lib/with-apollo-client.js
Due: frontend

style(components): format all components folder to follow eslint rules
  apps/frontend/components/DateField.js
  apps/frontend/components/NumberField.js
  apps/frontend/components/PlainTemplate.js
  apps/frontend/components/SelectField.js
  apps/frontend/components/TextField.js
  apps/frontend/components/___tests___/FieldTemplate.spec.js
  apps/frontend/components/___tests___/SelectField.spec.js
  apps/frontend/components/___tests___/TextField.spec.js
Due: frontend

style(root): format code from mock, tests and config files
  apps/frontend/__mocks__/material-ui-pickers.js
Due: frontend

feat(NumberField): allow to use format prop to render currency or phone based input
  apps/frontend/components/NumberField.js
  apps/frontend/components/TextField.js
  apps/frontend/components/___tests___/TextField.spec.js
Due: frontend

style(general): format string value
  apps/frontend/pages/disputes/general.js
Due: frontend

chore(general): update schema to include number format
  apps/frontend/pages/disputes/general.js
Due: frontend

style(personal-info): sort keys alphabetically
  apps/frontend/lib/disputes/personal-info.js
Due: frontend

feat(DateField): use label values to add placeholder within UI
  apps/frontend/components/DateField.js
Due: frontend

fix(PlainTemplate): avoid to duplicate information for Object properties
  apps/frontend/components/PlainTemplate.js
Due: frontend

feat(tax): Allow to ask for more info for FFEL Holders
  apps/frontend/pages/disputes/tax/a.js
Due: frontend

style: formatting and minor update for code before add checkbox mapping
  apps/frontend/components/FieldTemplate.js
  apps/frontend/components/___tests___/FieldTemplate.spec.js
Due: frontend

feat(tax): add missing definition for school information
  apps/frontend/pages/disputes/tax/a.js
Due: frontend

feat(CheckField): add new component to map checkboxes
  apps/frontend/components/CheckField.js
  apps/frontend/components/FieldTemplate.js
  apps/frontend/components/___tests___/CheckField.spec.js
  apps/frontend/components/___tests___/FieldTemplate.spec.js
Due: frontend

feat(tax): add ui order for type a root properties
  apps/frontend/pages/disputes/tax/a.js
Due: frontend

refactor(SelectField): make default placeholder more semantic
  apps/frontend/components/SelectField.js
Due: frontend

feat(DateField): allow DateField to show year on the visible value
  apps/frontend/components/DateField.js
Due: frontend

Path conditions:
  backend: any of: apps/backend/
  frontend: any of: apps/frontend/
