Repository debtcollective/disputes: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, models

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
    project:
      default: off
      backend:
        target: 80%
        flags: backend
      frontend:
        target: 80%
        flags: frontend
      models:
        target: 80%
        flags: models

flags:
  backend:
    paths:
      - apps/backend/
  frontend:
    paths:
      - apps/frontend/
  models:
    paths:
      - apps/models/

ci: add .npmrc with authToken before publish
  .circleci/config.yml
Due: none

ci: only publish from master
  .circleci/config.yml
Due: none

dev: move tools to its own package
  apps/tools/.babelrc
  apps/tools/.eslintrc
  apps/tools/.flowconfig
  apps/tools/.gitignore
  apps/tools/.prettierrc.js
  apps/tools/README.md
  apps/tools/package.json
  apps/tools/src/credit-report/index.js
  apps/tools/src/general-debt/index.js
  apps/tools/src/index.js
  apps/tools/src/private-student-loan/index.js
  apps/tools/src/schemas/debt-types.js
  apps/tools/src/schemas/personal-info.js
  apps/tools/src/schemas/tax-offset-common.js
  apps/tools/src/schemas/usa-states.js
  apps/tools/src/schemas/wage-garnishment-common.js
  apps/tools/src/schemas/yesno-schema.js
  apps/tools/src/tax-offset/a.js
  apps/tools/src/tax-offset/b.js
  apps/tools/src/tax-offset/c.js
  apps/tools/src/tax-offset/d.js
  apps/tools/src/tax-offset/e.js
  apps/tools/src/tax-offset/index.js
  apps/tools/src/wage-garnishment/a.js
  apps/tools/src/wage-garnishment/b.js
  apps/tools/src/wage-garnishment/c.js
  apps/tools/src/wage-garnishment/d.js
  apps/tools/src/wage-garnishment/e.js
  apps/tools/src/wage-garnishment/index.js
Due: none

dev: fix license in package.json
  apps/backend/package.json
  apps/frontend/package.json
  apps/models/package.json
Due: backend, frontend, models

dev: add tools package to other apps
  apps/backend/package.json
  apps/frontend/next.config.js
  apps/frontend/package.json
Due: backend, frontend

dev: remove react components from tools package
  .circleci/config.yml
  apps/tools/package.json
  apps/tools/src/credit-report/index.js
  apps/tools/src/general-debt/index.js
  apps/tools/src/index.js
  apps/tools/src/private-student-loan/index.js
  apps/tools/src/tax-offset/a.js
  apps/tools/src/tax-offset/b.js
  apps/tools/src/tax-offset/c.js
  apps/tools/src/tax-offset/d.js
  apps/tools/src/tax-offset/e.js
  apps/tools/src/tax-offset/index.js
  apps/tools/src/wage-garnishment/a.js
  apps/tools/src/wage-garnishment/b.js
  apps/tools/src/wage-garnishment/c.js
  apps/tools/src/wage-garnishment/d.js
  apps/tools/src/wage-garnishment/e.js
  apps/tools/src/wage-garnishment/index.js
Due: none

dev: codecov config for tools package
  .codecov.yml
Due: none

dev: leave tools form react components in frontend app
  apps/frontend/lib/tools/credit-report/index.js
  apps/frontend/lib/tools/general-debt/index.js
  apps/frontend/lib/tools/index.js
  apps/frontend/lib/tools/private-student-loan/index.js
  apps/frontend/lib/tools/tax-offset/a.js
  apps/frontend/lib/tools/tax-offset/b.js
  apps/frontend/lib/tools/tax-offset/c.js
  apps/frontend/lib/tools/tax-offset/d.js
  apps/frontend/lib/tools/tax-offset/e.js
  apps/frontend/lib/tools/tax-offset/index.js
  apps/frontend/lib/tools/wage-garnishment/a.js
  apps/frontend/lib/tools/wage-garnishment/b.js
  apps/frontend/lib/tools/wage-garnishment/c.js
  apps/frontend/lib/tools/wage-garnishment/d.js
  apps/frontend/lib/tools/wage-garnishment/e.js
  apps/frontend/lib/tools/wage-garnishment/index.js
  apps/frontend/package.json
Due: frontend

dev: remove 'yarn setup' from now-build command
  apps/backend/package.json
Due: backend

test: add --passWithNoTests for jest in tools package
  apps/tools/package.json
Due: none

docs: add project structure and other changes to README
  README.md
  apps/backend/README.md
  apps/frontend/README.md
  apps/models/README.md
  apps/tools/README.md
Due: backend, frontend, models

dev: update yarn.lock
  yarn.lock
Due: none

chore(deps): update dependency eslint to v6.1.0
  apps/backend/package.json
  apps/frontend/package.json
  apps/models/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, models

chore(deps): update dependency eslint-plugin-jest to v22.15.0
  apps/backend/package.json
  apps/frontend/package.json
  apps/models/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, models

chore(deps): update dependency eslint-plugin-react to v7.14.3
  apps/frontend/package.json
  apps/tools/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency husky to v3.0.3
  apps/models/package.json
  package.json
  yarn.lock
Due: models

chore(deps): update dependency lint-staged to v9.2.1
  apps/backend/package.json
  apps/frontend/package.json
  apps/models/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, models

v0.8.1
  CHANGELOG.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  apps/models/CHANGELOG.md
  apps/models/package.json
  apps/tools/CHANGELOG.md
  apps/tools/package.json
  lerna.json
Due: backend, frontend, models

Update Node.js to v11.15.0
  .circleci/config.yml
Due: none

Update dependency @date-io/moment to v1.3.9
  apps/frontend/package.json
Due: frontend

chore(deps): update dependency start-server-and-test to v1.10.0
  apps/frontend/package.json
Due: frontend

chore(deps): update dependency eslint-plugin-import to v2.18.2
  apps/models/package.json
  apps/tools/package.json
  yarn.lock
Due: models

fix(deps): update dependency knex to v0.19.1
  apps/backend/package.json
Due: backend

chore(deps): update dependency cypress to v3.4.1
  apps/frontend/package.json
Due: frontend

Update dependency flow-bin to v0.105.1
  apps/backend/package.json
  apps/frontend/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend

Update dependency lerna to v3.16.4
  package.json
  yarn.lock
Due: none

Update dependency eslint-plugin-flowtype to v3.13.0
  apps/backend/package.json
  apps/frontend/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend

chore(deps): pin cypress orb
  .circleci/config.yml
Due: none

chore(deps): pin dependencies
  apps/frontend/package.json
  apps/tools/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency pg to v7.12.1
  apps/backend/package.json
Due: backend

fix(deps): update dependency react-number-format to v4.2.0
  apps/frontend/package.json
Due: frontend

Update dependency eslint-plugin-cypress to v2.6.1
  apps/frontend/package.json
Due: frontend

v0.8.2
  CHANGELOG.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  apps/models/CHANGELOG.md
  apps/models/package.json
  apps/tools/CHANGELOG.md
  apps/tools/package.json
  lerna.json
Due: backend, frontend, models

Update dependency react-testing-library to v8
  apps/frontend/package.json
  apps/tools/package.json
  yarn.lock
Due: frontend

Update react monorepo to v16.9.0
  apps/frontend/package.json
Due: frontend

ci: update yarn.lock
  yarn.lock
Due: none

dev: upgrade to node 12.8.0
  .circleci/config.yml
  .node-version
Due: none

dev: transpile models
  apps/frontend/next.config.js
Due: frontend

dev: target node current
  apps/frontend/.babelrc
Due: frontend

dev: rename tests folder and files
  apps/frontend/__tests__/index.test.js
  apps/frontend/components/__tests__/CheckField.spec.js
  apps/frontend/components/__tests__/FieldTemplate.spec.js
  apps/frontend/components/__tests__/RadioField.spec.js
  apps/frontend/components/__tests__/SelectField.spec.js
  apps/frontend/components/__tests__/TextField.spec.js
  apps/frontend/pages/__tests__/__snapshots__/index.spec.js.snap
  apps/frontend/pages/__tests__/index.spec.js
Due: frontend
