Repository debtcollective/disputes: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

dev: removing invalid eslint rule
  apps/backend/.eslintrc.js
Due: backend

dev: adding linters
  apps/models/.eslintrc
  apps/models/package.json
  yarn.lock
Due: none

chore: fix lerna deprecation warning
  lerna.json
Due: none

dev: add trailingCommas to .prettierrc
  apps/models/.prettierrc.js
Due: none

dev: add jest
  apps/models/package.json
  yarn.lock
Due: none

dev: add husky and lint-staged
  apps/models/package.json
  yarn.lock
Due: none

dev: add missing dependencies and do cleanup
  apps/models/.babelrc
  apps/models/.gitignore
  apps/models/__tests__/models.test.js
  apps/models/package.json
  apps/models/src/index.js
  apps/models/src/models/__tests__/dispute.spec.js
  apps/models/src/models/dispute.js
  apps/models/src/models/index.js
  apps/models/src/models/tool.js
  yarn.lock
Due: none

dev: disable conflicting eslint rule
  apps/backend/.eslintrc.js
  apps/backend/src/config.js
Due: backend

chore: update lodash to latest version
  apps/backend/package.json
  apps/models/package.json
  yarn.lock
Due: backend

ci: [wip] test models publish
  .travis.yml
Due: none

ci: remove yarn:setup script
  .travis.yml
  apps/backend/package.json
  apps/frontend/package.json
  apps/models/package.json
  package.json
Due: backend, frontend

chore: remove color tab config from vscode settings.json
  .vscode/settings.json
Due: none

ci: use lerna publish instead of version to publish public packages to npm
  .travis.yml
Due: none

fix: disable eslint prettier integration in vscode
  .vscode/settings.json
Due: none

dev: add cypress orb to circle config
  .circleci/config.yml
Due: none

ci(circle): change travis-ci for circle-ci
  .circleci/config.yml
  .travis.yml
Due: none

dev: don't run cypress in test:ci command
  apps/frontend/package.json
Due: frontend

dev: add models path to codecov.yml
  .codecov.yml
Due: none

dev: run cypress tests from the frontend directory
  .circleci/config.yml
Due: none

dev: move knex files to its own folder
  apps/backend/.env.sample
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/src/knex/index.js
  apps/backend/src/knex/migrations/20190604165041_create_users.js
  apps/backend/src/knex/migrations/20190604165042_create_disputes.js
Due: backend

dev: change .babelrc to babel.config.js to fix models loading in jest
  apps/backend/.babelrc
  apps/backend/babel.config.js
Due: backend

dev: add small Dispute model test
  apps/backend/src/__tests__/dispute.test.js
  apps/backend/src/__tests__/example.test.js
  apps/backend/src/config.js
  apps/backend/src/index.js
  apps/backend/src/knexfile.js
Due: backend

dev: add base model and camelize keys in dispute model
  apps/models/src/index.js
  apps/models/src/models/dispute.js
  apps/models/src/models/model.js
Due: none

dev: add backend vscode debugger config
  .vscode/launch.json
Due: none

dev: commit lerna changes to package.json and yarn.lock
  apps/frontend/package.json
  yarn.lock
Due: frontend

dev: use camelcase instead of snakecase
  apps/models/src/models/__tests__/dispute.spec.js
  apps/models/src/models/__tests__/dispute.test.js
Due: none

dev: add postgres service to ci
  .circleci/config.yml
  apps/backend/package.json
  package.json
Due: backend

dev: fix dotenv loading
  .circleci/config.yml
  apps/backend/package.json
  apps/backend/src/config.js
Due: backend

dev: fix circle config
  .circleci/config.yml
Due: none

dev: multiple fixes to make jest exist correctly
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/src/__tests__/dispute.test.js
  apps/backend/src/config.js
  apps/frontend/jest.config.js
  apps/frontend/package.json
  apps/models/package.json
Due: backend, frontend

dev: test publishing
  .circleci/config.yml
Due: none

ci: fix workspace attach dir
  .circleci/config.yml
Due: none

ci: run lerna with yarn
  .circleci/config.yml
  apps/backend/src/knexfile.js
Due: backend

ci: pass --yes arg to lerna
  .circleci/config.yml
Due: none

ci: add github.com to known_hosts before publish
  .circleci/config.yml
Due: none

ci: create known_hosts file
  .circleci/config.yml
Due: none

ci: mkdir -p ~/.ssh
  .circleci/config.yml
Due: none

ci: configure git name and email
  .circleci/config.yml
Due: none

ci: add add_ssh_keys step before publishing
  .circleci/config.yml
Due: none

ci: add publishConfig to models package.json for lerna to publish scoped packages
  apps/models/package.json
Due: none

Path conditions:
  backend: any of: apps/backend/
  frontend: any of: apps/frontend/
