Repository debtcollective/disputes: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, models, tools

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
    project:
      default: off
      backend:
        target: 80%
        flags: backend
      frontend:
        target: 80%
        flags: frontend
      models:
        target: 80%
        flags: models
      tools:
        target: 80%
        flags: tools

flags:
  backend:
    paths:
      - apps/backend/
  frontend:
    paths:
      - apps/frontend/
  models:
    paths:
      - apps/models/
  tools:
    paths:
      - apps/tools/

Update dependency graphql to v14.5.6
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

Update Apollo GraphQL packages
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

Update dependency eslint-config-prettier to v6.3.0
  apps/models/package.json
  yarn.lock
Due: models

Update dependency eslint-plugin-flowtype to v4.3.0
  apps/backend/package.json
  apps/frontend/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, tools

Update dependency eslint-plugin-node to v9.2.0
  apps/backend/package.json
  apps/models/package.json
  yarn.lock
Due: backend, models

Update dependency nodemon to v1.19.2
  apps/backend/package.json
Due: backend

Update dependency flow-bin to v0.108.0
  apps/backend/package.json
  apps/frontend/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, tools

Update dependency next to v9.0.6
  apps/frontend/package.json
Due: frontend

Update dependency objection to v1.6.11
  apps/backend/package.json
  apps/models/package.json
  yarn.lock
Due: backend, models

Update dependency start-server-and-test to v1.10.2
  apps/frontend/package.json
Due: frontend

Update dependency jss to v10
  apps/frontend/package.json
Due: frontend

Update dependency graphql to v14.5.8
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

Update dependency @testing-library/react to v9.2.0
  apps/frontend/package.json
  apps/tools/package.json
  yarn.lock
Due: frontend, tools

Update dependency eslint-plugin-graphql to v3.1.0
  apps/backend/package.json
Due: backend

Update dependency eslint-plugin-prettier to v3.1.1
  apps/models/package.json
  yarn.lock
Due: models

Update dependency apollo-server-express to v2.9.4
  apps/backend/package.json
Due: backend

Update dependency husky to v3.0.7
  apps/models/package.json
  package.json
  yarn.lock
Due: models

Update dependency next to v9.0.7
  apps/frontend/package.json
Due: frontend

Update react monorepo to v16.10.1
  apps/frontend/package.json
Due: frontend

Update dependency eslint to v6.5.1
  apps/backend/package.json
  apps/frontend/package.json
  apps/models/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, models, tools

Update dependency lint-staged to v9.4.1
  apps/backend/package.json
  apps/frontend/package.json
  apps/models/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, models, tools

Update dependency nodemon to v1.19.3
  apps/backend/package.json
Due: backend

Update dependency eslint-plugin-node to v10
  apps/backend/package.json
  apps/models/package.json
  yarn.lock
Due: backend, models

dev: remove backend and models packages
  .circleci/config.yml
  .codecov.yml
  README.md
  apps/backend/.env.sample
  apps/backend/.eslintrc.js
  apps/backend/.flowconfig
  apps/backend/.gitignore
  apps/backend/CHANGELOG.md
  apps/backend/README.md
  apps/backend/babel.config.js
  apps/backend/jest.config.js
  apps/backend/jsconfig.json
  apps/backend/package.json
  apps/backend/src/__tests__/dispute.test.js
  apps/backend/src/config.js
  apps/backend/src/index.js
  apps/backend/src/knex/index.js
  apps/backend/src/knex/migrations/20190604165041_create_users.js
  apps/backend/src/knex/migrations/20190604165042_create_disputes.js
  apps/backend/src/knexfile.js
  apps/backend/src/lib/utils/index.js
  apps/backend/src/schema/dispute.js
  apps/backend/src/schema/index.js
  apps/backend/yarn.lock
  apps/frontend/next.config.js
  apps/frontend/package.json
  apps/models/.babelrc
  apps/models/.eslintrc
  apps/models/.gitignore
  apps/models/.prettierrc.js
  apps/models/CHANGELOG.md
  apps/models/README.md
  apps/models/package.json
  apps/models/src/config.js
  apps/models/src/index.js
  apps/models/src/models/__tests__/dispute.test.js
  apps/models/src/models/dispute.js
  apps/models/src/models/model.js
  apps/models/src/models/user.js
  now.json
Due: backend, frontend, models

dev: add dotenv for configuration
  apps/frontend/.env.template
  apps/frontend/README.md
  apps/frontend/lib/init-apollo.js
  apps/frontend/next.config.js
  apps/frontend/package.json
  yarn.lock
Due: frontend

dev: placeholder user disputes page
  apps/frontend/README.md
  apps/frontend/package.json
  apps/frontend/pages/_app.js
  apps/frontend/pages/user/disputes.js
  yarn.lock
Due: frontend

docs: add reference to disputes-api in the README
  apps/frontend/README.md
Due: frontend

dev: fix Container deprecation warning
  apps/frontend/pages/_app.js
Due: frontend

dev: remove working_directory from cypress config
  .circleci/config.yml
Due: none

dev: add API_URL env to now.json
  now.json
  package.json
  yarn.lock
Due: none

dev: add files to .nowignore
  .nowignore
Due: none

dev: make env variables available during build
  now.json
Due: none

chore(deps): update dependency eslint-plugin-cypress to v2.7.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency jest-dom to v4
  package.json
  yarn.lock
Due: none

fix(deps): update dependency styled-components to v4.4.1
  package.json
  yarn.lock
Due: none

fix(deps): pin dependency @debtcollective/tools to 0.8.5
  package.json
  yarn.lock
Due: none

chore(deps): update cypress orb to v1.13.0
  .circleci/config.yml
Due: none

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: none

chore(deps): update dependency core-js to v3.4.1
  package.json
  yarn.lock
Due: none
