Repository debtcollective/disputes: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
    project:
      default: off
      backend:
        target: 80%
        flags: backend
      frontend:
        target: 80%
        flags: frontend

flags:
  backend:
    paths:
      - apps/backend/
  frontend:
    paths:
      - apps/frontend/

chore(deps): update babel monorepo
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

chore(deps): update dependency cypress to v3.4.0
  apps/frontend/package.json
Due: frontend

chore(deps): update dependency babel-plugin-styled-components to v1.10.6
  apps/frontend/package.json
Due: frontend

chore(deps): update dependency eslint-plugin-promise to v4.2.1
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

chore(deps): update dependency husky to v2.7.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency knex to v0.19.0
  apps/backend/package.json
Due: backend

fix(deps): update dependency lodash to v4.17.13 [security]
  apps/frontend/package.json
Due: frontend

chore(deps): update dependency husky to v3
  package.json
  yarn.lock
Due: none

fix(deps): update dependency apollo-server-express to v2.7.0
  apps/backend/package.json
Due: backend

chore: update yarn.lock
  yarn.lock
Due: none

dev: add Dispute model
  apps/backend/README.md
  apps/backend/knexfile.sample.js
  apps/backend/migrations/20190604162052_create_disputes.js
  apps/backend/src/index.js
  apps/backend/src/models/dispute.js
Due: backend

dev: add User migration
  apps/backend/migrations/20190604165041_create_users.js
  apps/backend/migrations/20190604165042_create_disputes.js
  apps/backend/package.json
Due: backend

dev: split graphql type and resolvers into multiple files
  .vscode/settings.json
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/src/index.js
  apps/backend/src/models/dispute.js
  apps/backend/src/models/index.js
  apps/backend/src/schema.js
  apps/backend/src/schema/dispute.js
  apps/backend/src/schema/index.js
  yarn.lock
Due: backend

chore: vscode autocomplete configuration
  apps/backend/jsconfig.json
Due: backend

dev: add validation to Dispute
  apps/backend/.babelrc
  apps/backend/migrations/20190604165042_create_disputes.js
  apps/backend/package.json
  apps/backend/src/lib/utils/index.js
  apps/backend/src/models/__tests__/dispute.spec.js
  apps/backend/src/models/dispute.js
  apps/backend/src/models/index.js
  apps/backend/src/models/tool.js
  apps/backend/src/schema/dispute.js
  yarn.lock
Due: backend

dev: add Dispute test
  apps/backend/src/lib/utils/index.js
  apps/backend/src/models/__tests__/dispute.spec.js
  apps/backend/src/models/index.js
  apps/backend/src/models/user.js
Due: backend

dev: rename student-loan to private-student-loan
  apps/frontend/lib/tools/private-student-loan/index.js
  apps/frontend/lib/tools/private-student-loan/private-student-loan-schema.js
Due: frontend

dev: move schema inside tool file
  apps/frontend/lib/tools/credit-report/credit-report-schema.js
  apps/frontend/lib/tools/credit-report/index.js
  apps/frontend/lib/tools/private-student-loan/index.js
  apps/frontend/lib/tools/private-student-loan/private-student-loan-schema.js
  apps/frontend/lib/tools/schemas/debt-types.js
  apps/frontend/lib/tools/schemas/personal-info.js
  apps/frontend/lib/tools/schemas/tax-offset-common.js
  apps/frontend/lib/tools/schemas/usa-states.js
  apps/frontend/lib/tools/schemas/wage-garnishment-common.js
  apps/frontend/lib/tools/schemas/yesno-schema.js
Due: frontend

refactor: move tax-offset to tools
  apps/frontend/lib/disputes/dispute-types.js
  apps/frontend/lib/disputes/personal-info.js
  apps/frontend/lib/disputes/taxes-offset-shared.js
  apps/frontend/lib/disputes/usa-states.js
  apps/frontend/lib/disputes/wage-garnishment-shared.js
  apps/frontend/lib/disputes/yesno-schema.js
  apps/frontend/lib/tools/credit-report/index.js
  apps/frontend/lib/tools/index.js
  apps/frontend/lib/tools/private-student-loan/index.js
  apps/frontend/lib/tools/tax-offset/a.js
  apps/frontend/lib/tools/tax-offset/b.js
  apps/frontend/lib/tools/tax-offset/c.js
  apps/frontend/lib/tools/tax-offset/d.js
  apps/frontend/lib/tools/tax-offset/e.js
  apps/frontend/lib/tools/tax-offset/index.js
  apps/frontend/pages/disputes/tax/a.js
  apps/frontend/pages/disputes/tax/b.js
  apps/frontend/pages/disputes/tax/c.js
  apps/frontend/pages/disputes/tax/d.js
  apps/frontend/pages/disputes/tax/e.js
Due: frontend

refactor: move wage-garnishment to tools
  apps/frontend/lib/tools/index.js
  apps/frontend/lib/tools/wage-garnishment/a.js
  apps/frontend/lib/tools/wage-garnishment/b.js
  apps/frontend/lib/tools/wage-garnishment/c.js
  apps/frontend/lib/tools/wage-garnishment/d.js
  apps/frontend/lib/tools/wage-garnishment/e.js
  apps/frontend/lib/tools/wage-garnishment/index.js
  apps/frontend/pages/disputes/wage/a.js
  apps/frontend/pages/disputes/wage/b.js
  apps/frontend/pages/disputes/wage/c.js
  apps/frontend/pages/disputes/wage/d.js
  apps/frontend/pages/disputes/wage/e.js
Due: frontend

dev: fix import paths
  apps/frontend/lib/tools/credit-report/index.js
  apps/frontend/lib/tools/index.js
  apps/frontend/lib/tools/private-student-loan/index.js
  apps/frontend/pages/disputes/credit-report.js
  apps/frontend/pages/disputes/private-student-loan.js
Due: frontend

refactor: move general-debt to tools
  apps/frontend/lib/tools/general-debt/index.js
  apps/frontend/lib/tools/index.js
  apps/frontend/pages/disputes/general.js
Due: frontend

chore: add vscode launch.json
  .vscode/launch.json
Due: none

dev: add all fields to dispute schema
  apps/backend/src/models/dispute.js
Due: backend

dev: disable dispute test
  apps/backend/src/models/__tests__/dispute.spec.js
Due: backend

test: add test:ci:setup script
  .travis.yml
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

ci: run multiple commands in test script
  .travis.yml
  apps/backend/package.json
  apps/frontend/package.json
  package.json
Due: backend, frontend

dev: fix babel useBuiltIns warning
  apps/frontend/.babelrc
  apps/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency lodash to v4.17.15
  apps/frontend/package.json
Due: frontend

chore(deps): update babel monorepo to v7.5.5
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

chore(deps): update dependency eslint-plugin-import to v2.18.2
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

fix(deps): update dependency react-jsonschema-form to v1.7.0
  apps/frontend/package.json
Due: frontend

v0.8.0
  CHANGELOG.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  lerna.json
Due: backend, frontend

Update dependency flow-bin to v0.104.0
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

Update dependency apollo-server-express to v2.8.1
  apps/backend/package.json
Due: backend

Update dependency next to v9.0.3
  apps/frontend/package.json
Due: frontend

dev: knexfile to use config.js
  apps/backend/.gitignore
  apps/backend/knexfile.sample.js
  apps/backend/src/config.js
  apps/backend/src/knexfile.js
Due: backend

dev: add nconf and config.js
  apps/backend/package.json
  apps/backend/src/config.js
  yarn.lock
Due: backend

dev: remove module-alias
  apps/backend/.babelrc
  apps/backend/package.json
  yarn.lock
Due: backend

dev: move models to its own package
  apps/models/README.md
  apps/models/__tests__/models.test.js
  apps/models/package.json
  apps/models/src/config.js
  apps/models/src/index.js
  apps/models/src/models/__tests__/dispute.spec.js
  apps/models/src/models/dispute.js
  apps/models/src/models/index.js
  apps/models/src/models/tool.js
  apps/models/src/models/user.js
Due: none
