Repository debtcollective/disputes: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        flags: backend
      frontend:
        flags: frontend

flags:
  backend:
    paths:
      - apps/backend/
  frontend:
    paths:
      - apps/frontend/

ci(travis): use lerna publish instead of yarn publish
  .travis.yml
  package.json
Due: none

ci(travis): checkout to master before running lerna publish
  .travis.yml
Due: none

ci(travis): add git configuration steps to release step
  .travis.yml
Due: none

ci(travis): use one command instead of multiple ones in deploy script
  .travis.yml
Due: none

ci(travis): use release remote instead of origin
  .travis.yml
Due: none

ci(travis): use remote set-url instead of remote add
  .travis.yml
Due: none

v0.0.1
  CHANGELOG.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  lerna.json
Due: backend, frontend

ci(travis): add .npmrc file to prevent lerna publish to fail
  .travis.yml
Due: none

Add renovate.json
  renovate.json
Due: none

chore(renovate): move renovate.json to root
  renovate.json
Due: none

chore(github): add pull request template
  .github/pull_request_template.md
Due: none

fix(deps): pin dependencies
  apps/backend/package.json
  package.json
  yarn.lock
Due: backend

ci(travis): disable email notifications and add slack integration
  .travis.yml
Due: none

v0.0.2
  CHANGELOG.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  lerna.json
Due: backend, frontend

Update dependency next to v8.1.0
  apps/frontend/package.json
Due: frontend

Update dependency react-apollo to v2.5.5
  apps/frontend/package.json
Due: frontend

chore(now.json): fix paths to make deployments work
  now.json
Due: none

chore(lerna): use version instead of publish
  .travis.yml
  lerna.json
Due: none

chore(yarn.lock): update yarn.lock
  yarn.lock
Due: none

v0.0.3
  CHANGELOG.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  lerna.json
Due: backend, frontend

chore(deps): update jest monorepo to v24.7.1
  apps/frontend/package.json
Due: frontend

chore(deps): update dependency husky to v2
  apps/backend/package.json
Due: backend

chore(deps): update dependency lerna to v3.13.4
  package.json
  yarn.lock
Due: none

chore(deps): update dependency react-testing-library to v7
  apps/frontend/package.json
Due: frontend

chore(deps): update dependency @babel/core to v7.4.4
  apps/frontend/package.json
Due: frontend

chore(deps): update dependency husky to v2.2.0
  apps/backend/package.json
Due: backend

feat(disputes): Add base to render plain form for general debt
  apps/frontend/pages/index.js
  packages/front-end/lib/disputes/dispute-types.js
  packages/front-end/lib/disputes/usa-states.js
  packages/front-end/pages/disputes/general.js
Due: frontend

chore: 🤖 Add mozilla-services/react-jsonschema-form dependency
  apps/frontend/package.json
  apps/frontend/yarn.lock
Due: frontend

test(FieldTemplate): document the rendering of alternate components
  packages/front-end/components/PlainTemplate.js
  packages/front-end/components/SelectField.js
  packages/front-end/components/___tests___/FieldTemplate.spec.js
Due: none

feat(PlainTemplate): add new template to serve as a sort of fallback on FieldTemplate
  packages/front-end/components/FieldTemplate.js
  packages/front-end/components/PlainTemplate.js
Due: none

feat(FieldTemplate): finish base to render custom input on schema string properties
  packages/front-end/components/FieldTemplate.js
  packages/front-end/components/___tests___/FieldTemplate.spec.js
  packages/front-end/components/styled/HiddenField.js
  packages/front-end/components/styled/index.js
Due: none

feat(FieldTemplate): add support for date inputs
  packages/front-end/components/FieldTemplate.js
  packages/front-end/components/___tests___/FieldTemplate.spec.js
Due: none

fix(SelectField): map select inputs to selects from material ui instead menu
  packages/front-end/components/SelectField.js
Due: none

refactor(TextField): make more explicit the usage of helpers
  packages/front-end/components/TextField.js
Due: none

refactor(FieldTemplate): make component as proxy to render right component depending on schema
  packages/front-end/components/FieldTemplate.js
  packages/front-end/components/TextField.js
Due: none

refactor(FieldTemplate): update the code to use raw description and errors instead
  packages/front-end/components/FieldTemplate.js
Due: none

test(FieldTemplate): improve semantic of test as a better code documentation
  packages/front-end/components/___tests___/FieldTemplate.spec.js
Due: none

chore: add base to map custom components on text fields and select fields
  apps/frontend/package.json
  apps/frontend/yarn.lock
  packages/front-end/components/FieldTemplate.js
  packages/front-end/components/SelectField.js
  packages/front-end/pages/disputes/general.js
Due: frontend

feat(FieldTemplate): allow to map schema type number to input type number
  packages/front-end/components/FieldTemplate.js
  packages/front-end/components/___tests___/FieldTemplate.spec.js
Due: none

feat(SelectField): add base to map select inputs to material menus
  packages/front-end/components/SelectField.js
  packages/front-end/components/___tests___/SelectField.spec.js
Due: none
