Repository debtcollective/disputes: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Update dependency @date-io/moment to v1.3.6
  apps/frontend/package.json
Due: frontend

Update dependency cypress to v3.3.1
  apps/frontend/package.json
Due: frontend

Update dependency eslint-plugin-flowtype to v3.9.1
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

Update dependency eslint-plugin-node to v9.1.0
  apps/backend/package.json
Due: backend

Update dependency express to v4.17.1
  apps/backend/package.json
Due: backend

Update dependency jest-dom to v3.4.0
  apps/frontend/package.json
Due: frontend

Update dependency nodemon to v1.19.1
  apps/backend/package.json
Due: backend

Update dependency react-apollo to v2.5.6
  apps/frontend/package.json
Due: frontend

Update dependency start-server-and-test to v1.9.1
  apps/frontend/package.json
Due: frontend

Update dependency eslint-plugin-import to v2.17.3
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

Update dependency graphql to v14.3.1
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

feat(student): Add base to render student loan tool
  apps/frontend/__tests__/__snapshots__/index.test.js.snap
  apps/frontend/lib/tools/student-loan/index.js
  apps/frontend/lib/tools/student-loan/private-student-loan-schema.js
  apps/frontend/pages/disputes/private-student-loan.js
  apps/frontend/pages/index.js
Due: frontend

feat(student): add support for upload multiple files
  apps/frontend/components/FieldTemplate.js
  apps/frontend/components/___tests___/FieldTemplate.spec.js
  apps/frontend/lib/tools/student-loan/private-student-loan-schema.js
Due: frontend

Update dependency eslint-plugin-jest to v22.6.4
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

build(npm): update mui dependencies
  apps/frontend/__tests__/__snapshots__/index.test.js.snap
  apps/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency flow-bin to v0.100.0
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

fix(deps): update dependency apollo-server-express to v2.6.1
  apps/backend/package.json
Due: backend

fix(deps): update dependency knex to v0.17.3
  apps/backend/package.json
Due: backend

chore(deps): update dependency lerna to v3.15.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency waait to v1.0.5
  apps/frontend/package.json
Due: frontend

fix(deps): update dependency react-jsonschema-form to v1.6.1
  apps/frontend/package.json
Due: frontend

fix(deps): update dependency apollo-server-express to v2.6.3
  apps/backend/package.json
Due: backend

chore(deps): update dependency eslint-plugin-flowtype to v3.10.3
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

chore(deps): update dependency lint-staged to v8.2.1
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

fix(deps): update dependency knex to v0.17.6
  apps/backend/package.json
Due: backend

chore(deps): update dependency jest-dom to v3.5.0
  apps/frontend/package.json
Due: frontend

fix(deps): update dependency @date-io/moment to v1.3.7
  apps/frontend/package.json
Due: frontend

chore(deps): update dependency babel-eslint to v10.0.2
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

chore(deps): update dependency eslint-plugin-jest to v22.7.1
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

fix(deps): update dependency react-apollo to v2.5.8
  apps/frontend/package.json
Due: frontend

chore(deps): update dependency eslint-plugin-flowtype to v3.11.1
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

chore(deps): update dependency babel-plugin-styled-components to v1.10.2
  apps/frontend/package.json
Due: frontend

chore(deps): update dependency flow-bin to v0.102.0
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

fix(deps): update dependency apollo-server-express to v2.6.7
  apps/backend/package.json
Due: backend

chore(deps): update dependency husky to v2.5.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v6
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

chore(deps): update dependency eslint-plugin-import to v2.18.0
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

chore(deps): update dependency prettier-eslint-cli to v5
  apps/backend/package.json
  package.json
  yarn.lock
Due: backend

chore(deps): update dependency eslint-plugin-react to v7.14.2
  apps/frontend/package.json
Due: frontend

feat(document-generation): add base to develop service
  .vscode/settings.json
  services/document-generation/.babelrc
  services/document-generation/.eslintrc
  services/document-generation/.gitignore
  services/document-generation/package-lock.json
  services/document-generation/package.json
  services/document-generation/serverless.yml
  services/document-generation/src/index.js
  services/document-generation/src/local/index.js
  services/document-generation/src/setup.js
  services/document-generation/src/templates/credit_report_dispute_letter/0.pug
  services/document-generation/src/templates/credit_report_dispute_letter/1.pug
  services/document-generation/src/templates/falsecert_ability_to_benefit/0.fdf
  services/document-generation/src/templates/falsecert_ability_to_benefit/0.pdf
  services/document-generation/src/templates/falsecert_disqualifying/0.fdf
  services/document-generation/src/templates/falsecert_disqualifying/0.pdf
  services/document-generation/src/templates/general_debt_dispute_letter/0.pug
  services/document-generation/src/templates/private_student_loan_dispute_letter/defaulted.pug
  services/document-generation/src/templates/private_student_loan_dispute_letter/non-defaulted.pug
  services/document-generation/src/templates/tax_offset_review/0.fdf
  services/document-generation/src/templates/tax_offset_review/0.pdf
  services/document-generation/src/templates/unauthorized_signature_form/0.fdf
  services/document-generation/src/templates/unauthorized_signature_form/0.pdf
  services/document-generation/src/templates/wage_garnishment/0.fdf
  services/document-generation/src/templates/wage_garnishment/0.pdf
  services/document-generation/src/templates/wage_garnishment/consent-to-disclosure.js
  services/document-generation/src/templates/wage_garnishment/consent-to-disclosure.pdf
  services/document-generation/src/worker.js
Due: none

Path conditions:
  backend: any of: apps/backend/
  frontend: any of: apps/frontend/
