Repository debtcollective/disputes: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        flags: backend
      frontend:
        flags: frontend

flags:
  backend:
    paths:
      - apps/backend/
  frontend:
    paths:
      - apps/frontend/

test(TextField): add missing test for TextField and DatePicker
  packages/front-end/__mocks__/material-ui-pickers.js
  packages/front-end/components/___tests___/TextField.spec.js
Due: none

feat(TextField): add base to being able to inject improved date picker UI
  apps/frontend/package.json
  apps/frontend/pages/_app.js
  apps/frontend/yarn.lock
  packages/front-end/components/DateField.js
  packages/front-end/components/TextField.js
Due: frontend

refactor(FieldTemplate): update spec to match new behaviour for DatePicker
  packages/front-end/__mocks__/material-ui-pickers.js
  packages/front-end/components/DateField.js
  packages/front-end/components/___tests___/FieldTemplate.spec.js
Due: none

feat(NumberField): add new component to handle currency values
  apps/frontend/package.json
  apps/frontend/yarn.lock
  packages/front-end/components/NumberField.js
  packages/front-end/components/TextField.js
Due: frontend

fix(general-dispute): remove error list from form
  packages/front-end/pages/disputes/general.js
Due: none

refactor(DateField): update default value, disable future and change format
  packages/front-end/components/DateField.js
Due: none

fix(DateField): change format to match with JSON schema date format
  packages/front-end/components/DateField.js
Due: none

refactor(DateField): remove raw error from top
  packages/front-end/components/DateField.js
Due: none

test: update deprecated snapshot
  apps/frontend/__tests__/__snapshots__/index.test.js.snap
Due: frontend

fix(general-dispute): update schema to mark properties as require properly
  packages/front-end/pages/disputes/general.js
Due: none

fix(general): definition of debts selection
  packages/front-end/pages/disputes/general.js
Due: none

feat(Fields): Add support for helper text and errors
  packages/front-end/components/DateField.js
  packages/front-end/components/SelectField.js
  packages/front-end/components/TextField.js
Due: none

test: update snapshot
  apps/frontend/__tests__/__snapshots__/index.test.js.snap
Due: frontend

fix(deps): update dependency graphql to v14.3.0
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

fix(deps): update dependency apollo-server-express to v2.5.0
  apps/backend/package.json
Due: backend

feat: add husky and pretty-quick packages
  apps/backend/package.json
  apps/frontend/package.json
  package.json
  yarn.lock
Due: backend, frontend

v0.1.0
  CHANGELOG.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  lerna.json
Due: backend, frontend

Update dependency flow-bin to v0.98.1
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

Update dependency nodemon to v1.19.0
  apps/backend/package.json
Due: backend

refactor: move code of json schemas to live within apps/frontend instead
  apps/frontend/__mocks__/material-ui-pickers.js
  apps/frontend/components/DateField.js
  apps/frontend/components/FieldTemplate.js
  apps/frontend/components/NumberField.js
  apps/frontend/components/PlainTemplate.js
  apps/frontend/components/SelectField.js
  apps/frontend/components/TextField.js
  apps/frontend/components/___tests___/FieldTemplate.spec.js
  apps/frontend/components/___tests___/SelectField.spec.js
  apps/frontend/components/___tests___/TextField.spec.js
  apps/frontend/components/styled/HiddenField.js
  apps/frontend/components/styled/index.js
  apps/frontend/lib/disputes/dispute-types.js
  apps/frontend/lib/disputes/usa-states.js
  apps/frontend/pages/disputes/general.js
Due: frontend

tests(mocks): avoid to throw logs errors due to unexpected props
  apps/frontend/__mocks__/material-ui-pickers.js
Due: frontend

refactor(tests): FieldTemplate
  apps/frontend/components/___tests___/FieldTemplate.spec.js
Due: frontend

ci: update coverage thresholds
  .codecov.yml
Due: none

ci: update patch threshold
  .codecov.yml
Due: none

Update jest monorepo to v24.8.0
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

fix(deps): pin dependencies
  apps/frontend/package.json
Due: frontend

fix(deps): update dependency pg to v7.11.0
  apps/backend/package.json
Due: backend

chore(lint): configure eslint, eslint-plugins and prettier-eslint
  .vscode/settings.json
  apps/.vscode/settings.json
  apps/frontend/.eslintrc
  apps/frontend/package.json
  yarn.lock
Due: frontend

chore(vscode): add color-tabs configuration
  .vscode/settings.json
  apps/.vscode/settings.json
  apps/frontend/package.json
Due: frontend

chore(backend): configure linters
  apps/backend/.eslintrc.js
  apps/backend/.flowconfig
  apps/backend/index.js
  apps/backend/package.json
  apps/backend/src/schema.js
  apps/frontend/.gitignore
  apps/frontend/package.json
  disputes.code-workspace
  yarn.lock
Due: backend, frontend

chore(backend): add babel
  apps/backend/.babelrc
  apps/backend/.eslintrc.js
  apps/backend/.gitignore
  apps/backend/package.json
  apps/backend/src/index.js
  apps/backend/src/schema.js
  apps/frontend/.babelrc
  apps/frontend/package.json
  package.json
  yarn.lock
Due: backend, frontend

feat: add Header component
  .vscode/settings.json
  apps/backend/.babelrc
  apps/backend/src/schema.js
  apps/frontend/.babelrc
  apps/frontend/.eslintrc
  apps/frontend/.flowconfig
  apps/frontend/__tests__/__snapshots__/index.test.js.snap
  apps/frontend/__tests__/index.test.js
  apps/frontend/components/FieldTemplate.js
  apps/frontend/next.config.js
  apps/frontend/package.json
  apps/frontend/pages/_app.js
  apps/frontend/pages/index.js
  now.json
  package.json
  yarn.lock
Due: backend, frontend

chore: make material-ui work along styled-components
  .gitignore
  .nowignore
  apps/backend/package.json
  apps/frontend/.babelrc
  apps/frontend/.eslintrc
  apps/frontend/__tests__/__snapshots__/index.test.js.snap
  apps/frontend/lib/getPageContext.js
  apps/frontend/package.json
  apps/frontend/pages/_app.js
  apps/frontend/pages/_document.js
  apps/frontend/pages/index.js
  now.json
  yarn.lock
Due: backend, frontend

chore: make now deployments work again
  apps/backend/package.json
  apps/backend/src/index.js
  now.json
Due: backend

build(lint): update configuration related to static formatting
  .prettierrc
  apps/frontend/.eslintrc
  apps/frontend/package.json
  yarn.lock
Due: frontend

chore: remove vscode workspace file
  disputes.code-workspace
Due: none

chore(deps): pin dependencies
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

fix(deps): update dependency knex to v0.16.7
  apps/backend/package.json
Due: backend

fix(deps): update dependency react-number-format to v4.0.8
  apps/frontend/package.json
Due: frontend

chore(deps): update dependency husky to v2.3.0
  package.json
  yarn.lock
Due: none
