Repository debtcollective/disputes: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, models, tools

dev: update react-testing-library package name
  apps/frontend/components/__tests__/CheckField.spec.js
  apps/frontend/components/__tests__/FieldTemplate.spec.js
  apps/frontend/components/__tests__/RadioField.spec.js
  apps/frontend/components/__tests__/SelectField.spec.js
  apps/frontend/components/__tests__/TextField.spec.js
  apps/frontend/pages/__tests__/__snapshots__/index.spec.js.snap
  apps/frontend/pages/__tests__/index.spec.js
Due: frontend

dev: update react to 16.9.0
  apps/frontend/package.json
  apps/tools/package.json
  yarn.lock
Due: frontend, tools

test: fix tests
  apps/frontend/.babelrc
  apps/frontend/babel.config.js
  apps/frontend/jest.config.js
  apps/frontend/pages/__tests__/__snapshots__/index.spec.js.snap
  apps/frontend/pages/__tests__/index.spec.js
Due: frontend

test: update snapshot
  apps/frontend/pages/__tests__/__snapshots__/index.spec.js.snap
Due: frontend

v0.8.3
  CHANGELOG.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  apps/tools/CHANGELOG.md
  apps/tools/package.json
  lerna.json
Due: backend, frontend, tools

v0.8.3
  .circleci/config.yml
  CHANGELOG.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  apps/tools/CHANGELOG.md
  apps/tools/package.json
  lerna.json
Due: backend, frontend, tools

v0.8.4
  CHANGELOG.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  apps/tools/CHANGELOG.md
  apps/tools/package.json
  lerna.json
Due: backend, frontend, tools

Update dependency eslint-plugin-jest to v22.15.2
  apps/backend/package.json
  apps/frontend/package.json
  apps/models/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, models, tools

Update dependency flow-bin to v0.106.1
  apps/backend/package.json
  apps/frontend/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, tools

Update Node.js to v12.9.0
  .circleci/config.yml
Due: none

Update dependency apollo-server-express to v2.9.0
  apps/backend/package.json
Due: backend

Update dependency babel-eslint to v10.0.3
  apps/backend/package.json
  apps/frontend/package.json
  apps/models/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, models, tools

Update dependency eslint to v6.2.2
  apps/backend/package.json
  apps/frontend/package.json
  apps/models/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, models, tools

Update dependency graphql to v14.5.3
  apps/backend/package.json
  apps/frontend/package.json
Due: backend, frontend

Update dependency lint-staged to v9.2.4
  apps/backend/package.json
  apps/frontend/package.json
  apps/models/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, models, tools

Update dependency react-apollo to v3
  apps/frontend/package.json
Due: frontend

Update dependency dotenv to v8.1.0
  apps/backend/package.json
Due: backend

Update dependency core-js to v3.2.1
  apps/tools/package.json
  yarn.lock
Due: tools

Update dependency eslint-config-prettier to v6.1.0
  apps/models/package.json
  yarn.lock
Due: models

Update dependency lodash to v4.17.15
  apps/backend/package.json
  apps/models/package.json
  yarn.lock
Due: backend, models

Update jest monorepo to v24.9.0
  apps/backend/package.json
  apps/frontend/package.json
  apps/models/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, models, tools

Update dependency eslint-plugin-flowtype to v4
  apps/backend/package.json
  apps/frontend/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, tools

Update dependency eslint-plugin-standard to v4.0.1
  apps/models/package.json
  yarn.lock
Due: models

Update dependency next to v9.0.5
  apps/frontend/package.json
Due: frontend

Update dependency react-jsonschema-form to v1.8.0
  apps/frontend/package.json
Due: frontend

v0.8.5
  CHANGELOG.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  apps/models/CHANGELOG.md
  apps/models/package.json
  apps/tools/CHANGELOG.md
  apps/tools/package.json
  lerna.json
Due: backend, frontend, models, tools

Update dependency husky to v3.0.4
  apps/models/package.json
  package.json
  yarn.lock
Due: models

Update dependency knex to v0.19.2
  apps/backend/package.json
Due: backend

Update dependency react-popper to v1.3.4
  apps/frontend/package.json
Due: frontend

Update dependency flow-bin to v0.106.2
  apps/backend/package.json
  apps/frontend/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, tools

Update dependency husky to v3.0.5
  apps/models/package.json
  package.json
  yarn.lock
Due: models

Update dependency lint-staged to v9.2.5
  apps/backend/package.json
  apps/frontend/package.json
  apps/models/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, models, tools

Update dependency eslint-plugin-jest to v22.17.0
  apps/backend/package.json
  apps/frontend/package.json
  apps/models/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, models, tools

Update dependency flow-bin to v0.107.0
  apps/backend/package.json
  apps/frontend/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, tools

Update Node.js to v12.10.0
  .circleci/config.yml
Due: none

Update babel monorepo
  apps/backend/package.json
  apps/frontend/package.json
  apps/models/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, models, tools

Update cypress orb to v1.10.0
  .circleci/config.yml
Due: none

Update dependency @date-io/moment to v1.3.11
  apps/frontend/package.json
Due: frontend

Update dependency knex to v0.19.4
  apps/backend/package.json
Due: backend

Update dependency eslint to v6.4.0
  apps/backend/package.json
  apps/frontend/package.json
  apps/models/package.json
  apps/tools/package.json
  yarn.lock
Due: backend, frontend, models, tools

Path conditions:
  backend: any of: apps/backend/
  frontend: any of: apps/frontend/
  models: any of: apps/models/
  tools: any of: apps/tools/
